@mixin button\general($baseColor) {
	text-decoration: none;
	text-align: center;
	color: $white;
	font-weight: 800;
	font-family: $body-font-family;
	font-size: inherit;

	padding: 18px 60px;
	border-radius: $global-radius;
	display: inline-block;
	margin-bottom: 20px;
	cursor: pointer;

	transform: translateY(0px);

	@include transition(all 0.25s ease);

	// Mixin Variables
	background-color: $baseColor;

	@content;
}

button, .button {
	@include button\general($primary);

	&.expanded {
		display: block;
	}

	&:hover {
		color: $white;
		// transform: translateY(-3px);
	}


	&.primary {
		background-color: $primary;

		&:hover {
			background-color: darken($primary, 5%);
			
			@include transition(all 0.25s ease-out);
		}
	}

	&.secondary {
		color: $primary;
		background-color: $secondary;
		border: 1px solid $gray;

		&:hover {
			color: $primary;
				&:hover {
				background-color: darken($secondary, 5%);
				
				@include transition(all 0.25s ease-out);
			}
		}

		&.caution {
			color: $alert;

			&:hover {
				color: $alert;
			}
		}
	}


	&.tiny {
		font-size: x-small;
		padding: 10px 30px;
	}

	&.small {
		font-size: smaller;
		padding: 10px 33px;
	}

	&.large {
		font-size: x-large;
	}


}

button {
	&.expanded {
		width: 100%;
	}
}