@mixin choice\container {
	border-radius: $global-radius;
	position: relative;
	text-align: center;

	* {
		cursor: pointer;
	}
}

@mixin choice\item\default {
	min-width: auto;
  width: auto;
  height: auto;
  margin: 0;
  padding: 30px 24px;
  color: $black;
  background: $white;
  text-decoration: none;

  display: inline-block;

  border-radius: $global-radius;
  box-shadow: 0px 0px 0px 1px $gray;

  h4 {
  	margin: 0;
  }

  @include transition(all 0.3s ease);

  &:focus, &:active, &:visited, &:hover {
  	color: $black;
  }

  &:active {
  	color: $primary;
  	box-shadow: 0 0 0 1px $primary, 0px 0px 15px rgba($primary, 0.5);
  }

  &:not(:first-of-type) {
  	margin-left: 20px;
  }
}

@mixin choice\item\with-icon {
	@include choice\item\default;

  text-align: center;
  span {
  	display: block;
		margin-bottom: 12px;
  }
}

@mixin choice\item\radio {
	min-width: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  background: $white;

  border: 0px;
  box-shadow: 0px 0px 0px 1px $gray;
	-webkit-appearance: none;

  @include transition(all 0.3s ease);

	&:checked {
  	box-shadow: 0 0 0 1px $primary, 0px 0px 15px rgba($primary, 0.5);
  	@include transition(all 0.05s ease);
  	outline: 0;

    +label {
	    color: $primary;
	    @include transition(all 0.2s ease-in-out);
		}
  }

  &:focus, &:active {
  	outline: 0;
  }
}

.choice-group--container {
	@include flex;
	@include flexDirection(row);
	@include flexJustify(flex-start);

	margin-bottom: 20px;

	&.flex-equal {
		@include flexJustify(space-between);
		.choice-item {
			width: 100%;
		}	
	}

	$column-list: (
	  '6': calc(50% - 10px),
	  '4': calc(33.3% - 10px),
	  '3': calc(25% - 15px),
	  '2': calc(16.6667% - 10px),
	  '1': calc(8.3333% - 10px),
	);

	// loop, to define column widths
	@each $name, $width in $column-list {
		// selector based on column name
		&.flex-col-#{$name} {
		  @include flexJustify(space-between);
			@include flexWrap(wrap);
		      
		  &> div {
		  	width: $width;
		  	&:not(:first-of-type) {margin: 0;}
	  	  margin-bottom: 20px;
		  }
		}
	}

	.choice--default, .choice--default--center {
		@include choice\item\default;

		&.expanded {
			width: 100%;
		}
	}

	.choice--default--center {
		text-align: center;
	}

	.choice--default-icon {
		@include choice\item\with-icon;
	}

	.choice--radio {
		@include choice\container;

		@include tablet {
			width: 250px;
			min-height: 200px;
			height: 200px;
		}

		&:not(:first-of-type) {
			margin-left: 20px;
		}

		input[type="radio"] {
			@include choice\item\radio;
		}

		label {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 85%;

			h4 {
				margin: 0;
			}

			span {
				display: block;
				margin-bottom: 12px;
			}
		}

	}

	.choice--radio--default {
		@include choice\container;
		width: 100%;
		height: 100px;

		&:not(:first-of-type) {
			margin-left: 20px;
		}

		input[type="radio"] {
			@include choice\item\radio;
		}

		label {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 85%;

			h4 {
				margin: 0;
			}

			span {
				display: block;
				margin-bottom: 12px;
			}
		}
	}
}