input, textarea, select, option, [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	font-size: 1.7rem;
	padding: 12px 12px;
	box-shadow: 0;
	height: auto;
	margin: 0;
	width: auto;
	padding: 12px;
	border: 1px solid $gray;
	line-height: 100%;

	border-radius: $global-radius;
}

.expanded {
	input, textarea, label, select {
		width: 100%;
	}
}

input {
	min-width: 400px;
}

.radio-item {
	margin-bottom: 20px;

	input[type="radio"] {
		margin: 0;
		margin-right: 15px;

		+ label {
			font-weight: 600;
			font-size: inherit;
		}

		&:checked+label {
	    color: $primary;
		}

		&:not(:checked)+label {
	    color: $gray;
		}
	}
}


textarea {
	min-width: 400px;
	min-height: 150px;
	max-width: 100%;
	-webkit-appearance: none;
}

label {
	font-weight: 600;
	font-size: inherit;
}


select {
	min-width: 400px;
	box-shadow: none;
	background: $white;
	background-image: none;
	-webkit-appearance: none;
}


option {

}